body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/img/background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-size: xx-large;
    background-color: antiquewhite;
    color: peru;
    text-align: center;
}

nav {
    text-align: center;
    padding: 30px;
    margin: 0 20px;
}

nav a {
    color: red;
    text-decoration: none;
    padding: 10px;
    margin: 0 80px; /* Adds space between the links */
    display: inline-flex;
    justify-content: space-between;
  }

  nav a:hover {
    background-color: blue; /* Hover effect for links */
    border-radius: 25px;
  }